# --------------------
# Global data
# --------------------
data/

# --------------------
# Images
# --------------------
*.jpg
*.jpeg
*.png

# --------------------
# Debug & logs
# --------------------
debug/
debug2/
logs/

# --------------------
# Streamlit
# --------------------
streamlit/*
!streamlit/app.py
!streamlit/recognition.py

streamlit/data/
streamlit/logs/
streamlit/.streamlit/
streamlit/__pycache__/
streamlit/*.pyc

# --------------------
# Tests
# --------------------
*.test.py

# --------------------
# Environment secrets
# --------------------
.env

# --------------------
# Python cache
# --------------------
**/__pycache__/
**/*.pyc

# --------------------
# OS junk
# --------------------
.DS_Store
Thumbs.db