name: Deploy to Railway
on:
  push:
    branches: [fix/admin-panel]
  workflow_dispatch: # <--- Adds a manual "Play" button in GitHub Actions

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm i -g @railway/cli

      - name: Sync Variables
        run: |
          railway variables --set \
            DB_USER="${{ secrets.DB_USER }}" \
            DB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
            DB_HOST="${{ secrets.DB_HOST }}" \
            DB_PORT="${{ secrets.DB_PORT }}" \
            DB_NAME="${{ secrets.DB_NAME }}" \
            DB_OPTIONS="${{ secrets.DB_OPTIONS }}" \
            ADMIN_SECRET="${{ secrets.ADMIN_SECRET }}"
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy
        run: railway up --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}